@import '../sass/variables.scss';
.p-inputswitch-slider {
  background: var(--mainPurple) !important;
  box-shadow: none !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  box-shadow: none !important;
}

.p-dialog {
  width: 480px !important;
}

.p-dialog-title {
  color: var(--textColor);
}

.p-dialog-header {
  background: var(--bodyBackground) !important;
}

.p-dialog-content {
  background: var(--bodyBackground) !important;
}

.delete-board-header {
  color: var(--red);
  font-size: 1.125rem;
  font-weight: 700;
}

.remove-board-footer {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  font-size: 0.8125rem;
  font-weight: 700;

  .delete-board-btn {
    width: 100%;
    background-color: var(--red);
    transition: $transition;
    &:hover {
      background-color: var(--redHover);
    }
  }
  .cancel-delete-board-btn {
    width: 100%;
    background-color: var(--lightPurpleBtnBackground);
    color: var(--mainPurple);
    transition: $transition;

    &:hover {
      background-color: var(--lightPurpleHover);
    }
  }
}

.p-dropdown {
  background-color: var(--darkGreyBackground) !important;
}

.p-inputtext {
  color: var(--textColor) !important;
}

.p-dropdown-panel {
  margin-top: 0.5rem;
  background: white !important;
}

.dark .p-dropdown-panel {
  margin-top: 0.5rem;
  background: #20212c !important;
}

.p-dropdown-item {
  font-weight: 500 !important;
  color: var(--mediumGrey);
}
