:root {
  --mainPurple: #635fc7;
  --mainPurpleHover: #a8a4ff;
  --black: #000112;
  --veryDarkGrey: #20212c;
  --darkGrey: #2b2c37;
  --mediumGrey: #828fa3;
  --lines: #e4ebfa;
  --lightGrey: #f4f7fd;
  --white: #fff;
  --red: #ea5555;
  --redHover: #ff9898;
  --bodyBackground: #f4f7fd;
  --navBackground: var(var(--white));
  --textColor: var(--black);
  --labelColor: var(--mediumGrey);
  --dialogBackground: var(--white);
  --placeholderText: var(--black);
}

.dark {
  --textColor: var(--white);
  --lines: #3e3f4e;
  --bodyBackground: var(--veryDarkGrey);
  --darkGreyBackground: var(--darkGrey);
  --labelColor: var(--white);
  --dialogBackground: var(--darkGrey);
  --placeholderText: var(--white);
}

$transition: all 0.2s linear;
