$mainPurple: #635fc7;
$mainPurpleHover: #a8a4ff;
$black: #000112;
$veryDarkGrey: #20212c;
$darkGrey: #2b2c37;
$darkLines: #3e3f4e;
$mediumGrey: #828fa3;
$lightLines: #e4ebfa;
$lightGrey: #f4f7fd;
$white: #fff;
$red: #ea5555;
$redHover: #ff9898;
