:root {
  --mainPurple: #635fc7;
  --mainPurpleHover: #a8a4ff;
  --black: #000112;
  --veryDarkGrey: #20212c;
  --darkGrey: #2b2c37;
  --mediumGrey: #828fa3;
  --lines: #e4ebfa;
  --lightGrey: #f4f7fd;
  --white: #fff;
  --red: #ea5555;
  --redHover: #ff9898;
  --logo: url('../images/logo-dark.svg');
  --bodyBackground: #f4f7fd;
}

.dark {
  --logo: url('../images/logo-light.svg');
  --lines: #3e3f4e;
  --bodyBackground: #2b2c37;
}

$transition: all 0.2s linear;
